.intro-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

  /* === 작업 환경 크기를 시각적으로 확인하기 위한 부분 (작업끝나고 삭제)=== */
  background-color: #f0f8ff; /* 연한 파스텔 톤 배경색 */
  border: 2px #03c0ff; /* 파스텔 블루색의 점선 테두리 */
  /* ==================================================== */
}

.intro-container h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 30px;
  text-align: left; /* 제목 왼쪽 정렬 */
}

.intro-content {
  white-space: pre-wrap;
  line-height: 1.6;
  font-size: 1.1em;
  color: #555;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.intro-content strong {
  color: #333;
  font-weight: bold;
}
